.vr-contact-us-section{
    background-color: #222b36;

}

.vr-contact-us-card{
    /* padding: 50px; */
}

.vr-contact-us-section-heading{
    color: white;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: bold;
    font-weight: 700;
}

.contact-btn{
    height: 36px;
    width: 110px;
    border-width: 0;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 700;
    border-radius: 4px;
}