.vr-optics-controllers-card-title{
    color: #1f2933;
    font-weight: 700;
    font-family: "Roboto";
    font-size: 36px;
}

.vr-optics-controllers-card-description{
    color: #7b8794;
    font-family: "Roboto";
    font-size: 20px;
}

.custom-btn{
    background-color: #1a2137;
    color: white;
    font-family: "Roboto";
    height: 45px;
    width: 130px;
    border-width: 0;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
}