
/* why chosen section  */
.wcu-section{
    background-color: #f9fbfe;
}

.wcu-section-heading{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.wcu-section-description{
    font-family: "Roboto";
    font-size: 18px;
    color: #5a7184;
}

.wcu-card{
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-img{
    height: 90px;
    width: 80px;
}

.wcu-card-title{
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 600;
    color: #322f4b;
}

.wcu-card-description{
    font-family: "Roboto";
    font-size: 16px;
    color: #7b8794;
}

.offers{
    color: #323f4b;
    font-weight: 800;
    font-family: "Roboto";
    font-style: italic;
}